.game {
  display: none;
  justify-content: space-evenly;
}
.player,
.computer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}
.player__weapon {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: var(--main-bg-color) url('/arrow-drop-down.svg') right 0% top 50%/24px 24px no-repeat;
  border: 0;
  border-bottom: 1px solid var(--black);
  border-radius: 0;
  cursor: pointer;
  font-size: 16px;
  line-height: normal;
  min-width: 120px;
}
.computer__weapon,
.player__weapon {
  margin: 15px 0;
}
.error {
  text-align: center;
  color: var(--red);
  display: none;
}
