:root {
  --main-bg-color: #99e1d9;
  --black: #191716;
  --white: #fefeff;
  --red: #ef6461;
  --dark-red: #b84a49;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}
body {
  background-color: var(--main-bg-color);
  color: var(--black);
  font-family: "Roboto Mono", monospace;
}
.app {
  padding: 40px 0;
}